<br/>

<h1>Login Page</h1>
<br/>

<div class="menu">
    
      <a routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/login">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/register">Registration</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="/studentList">User Information</a>
    
</div>

<div class="form">
      <img src="assets/images/college.png" alt="this images"/>
      <br/>
      
      
      <p>
 Welcome to College of Applied Sciences, Suhar<br/>
CAS Suhar is a public college that offers a range of programs in the field of Applied Sciences.<br/>
The college, as planned one of the MOHE s Centres of Excellence, awards degrees in Design and in Information Technology.
      </p>
</div>


<div class="form2">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <img src="assets/images/college1.jpeg" alt="this images" width="320px" height="200px"/> &nbsp;&nbsp;&nbsp;
      <img src="assets/images/college2.jpg" alt="this images" width="320px" height="200px"/>&nbsp;&nbsp;&nbsp;
      <img src="assets/images/college3.jpg" alt="this images" width="320px" height="200px"/>&nbsp;&nbsp;&nbsp;
      <img src="assets/images/college3.jpg" alt="this images" width="320px" height="200px"/>
</div>

